{% extends "base.html" %}

{% block content %}

<div class="card shadow p-5">

    <h1 class="text-center mb-4">
        Panchang Details
    </h1>

    <h3>{{ birth_detail.full_name }}</h3>

    <hr>

    <p>
        <strong>Date of Birth:</strong>
        {{ birth_detail.date_of_birth }}
    </p>

    <p>
        <strong>Time of Birth:</strong>
        {{ birth_detail.time_of_birth }}
    </p>

    <p>
        <strong>Nakshatra:</strong>
        {{ nakshatra }}
    </p>

    <p>
        <strong>Tithi:</strong>
        {{ tithi }}
    </p>

    <p>
        <strong>Yoga:</strong>
        {{ yoga }}
    </p>

    <p>
        <strong>Karana:</strong>
        {{ karana }}
    </p>

</div>

{% endblock %}